*
!pyproject.toml
!README.md
!LICENSE
!src/
!src/**
!apps/
!apps/stock_forecaster/
!apps/stock_forecaster/backend/
!apps/stock_forecaster/backend/**
!timesfm-forecasting/
!timesfm-forecasting/scripts/
!timesfm-forecasting/scripts/check_system.py
**/__pycache__
**/*.egg-info
**/.pytest_cache
**/.ruff_cache
**/.venv
**/.local
**/.env
**/.env.*
